:root {
  /* --- ЦВЕТА ИНТЕРФЕЙСА (VS Code Dark) --- */
  
  /* Основной цвет шапки и активных элементов (СПОКОЙНЫЙ СИНИЙ вместо ядерного фиолетового) */
  --md-primary-fg-color:        #007acc; 
  --md-primary-fg-color--light: #007acc;
  --md-primary-fg-color--dark:  #005f9e;

  /* Цвет ссылок и акцентов (Мягкий голубой) */
  --md-accent-fg-color:         #4ec9b0; 
  
  /* Фон бокового меню (Темно-серый, чтобы не резало глаза) */
  --md-default-bg-color:        #1e1e1e;
  
  /* Фон контента (Чуть светлее меню, классика) */
  --md-default-fg-color:        #d4d4d4;
  --md-default-fg-color--light: #d4d4d4;
}

/* Убираем кислотную тень под шапкой */
.md-header {
  background-color: #1e1e1e !important;
  border-bottom: 1px solid #333;
}

/* Делаем вкладки меню (tabs) темными */
.md-tabs {
  background-color: #1e1e1e !important;
}

/* Делаем боковое меню темным */
.md-sidebar {
    background-color: #1e1e1e;
}